@import "tailwindcss";

:root {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 14.9%);
  --card-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --primary: hsl(142.1 70.6% 45.3%);
  --primary-foreground: hsl(144.9 80.4% 10%);
  --secondary: hsl(0 0% 10%);
  --secondary-foreground: hsl(0 0% 98%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --ring: hsl(0 0% 83.1%);
  --chart-1: hsl(0 0% 98%);
  --chart-2: hsla(142, 71%, 45%, 0.767);
  --chart-3: hsl(0 0% 14.9%);
  --chart-4: hsl(0 0% 17.9%);
  --chart-5: hsl(0 3% 98%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --font-dm-sans-900: var(--font-dm-sans-900);
  --font-dm-sans-500: var(--font-dm-sans-500);
  --font-space-grotesk-300: var(--font-space-grotesk-300);
  --animate-bounce: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(0px);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(-15px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  margin: 0;
  padding-top: env(safe-area-inset-top);
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}

section {
  scroll-margin-top: 60px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  transition: background-color 9999s ease-in-out 0s;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-foreground);
}

.background-about {
  background-image: linear-gradient(
    to top,
    transparent 12rem,
    var(--secondary) 12rem
  );
}
